#auth {
  width: 20rem;
}

#auth
.button {
  margin: .5rem 0;
}

#auth
.title {
  text-align: left;
}

form {
  margin-top: 2rem;
}

form
.footnote {
  margin: 0 auto;
  padding: .5rem;
}

#auth
input:focus {
  border-color: #26C6DA ;
}

.error {
  width: 100%;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  color: #696969;
  text-align: right;
}

.submit-row {
  margin-top: 1rem;
}