#auth {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#demo {
  width: 100%;
}

#login,
#register {
  width: 20rem;
}

#auth
.button {
  margin: .5rem 0;
}

#auth
.title {
  text-align: left;
}

form {
  margin-top: 2rem;
}

form
.footnote {
  margin: 0 auto;
  padding: .5rem;
}

#auth
input:focus {
  border-color: #26C6DA ;
}

.error {
  width: 100%;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  color: #9E9E9E;
  text-align: right;
}

.submit-row {
  margin-top: 1rem;
}

.auth-input::placeholder {
  color: #9E9E9E;
}