#login
.button {
  margin: .5rem;
}

#login
.title {
  text-align: left;
}

form {
  margin-top: 2rem;
}

form
.footnote {
  margin: 0 auto;
  padding: .5rem;
}

input {
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem 0.6rem;
  border: 1px solid #eaeaea;
  background-color: transparent;
  border-radius: 5px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

input:focus {
  border-color: #2ED9EB;
}

.error {
  width: 100%;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  color: #696969;
  text-align: right;
}