#cells {
  height: 100%;
  width: 100%;
  margin: 4rem;
    transition: background-color 0.15s linear;
}

#staged {
  width: 100%;
  margin-bottom: 1.5rem;
  transition: all 0.15s linear;
    transition: background-color 0.15s linear;
}

#grid {
  height: 100%;
  width: 100%;
  justify-content: center;
    transition: background-color 0.15s linear;
}

#all{
  max-width: 75%;
    transition: background-color 0.15s linear;
}

#all-cash {
  height: 100%;
  max-width: 20rem;
  justify-content: center;
  padding-right: 1.5rem;
  border-right: 1px solid #E0E0E0;
}

#all-expenses {
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-left: 1.5rem;
}

.cell-title {
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 12rem;
  margin-right: 1.5rem;
}

.cell-title::placeholder,
.cash::placeholder,
.expenses::placeholder {
  color: #9E9E9E;
}

#cell-options {
  height: 0;
  overflow: hidden;
  justify-content: space-between;
    transition: all 0.15s linear;
}

#cell-options input {
  font-size: 0.8rem;
  width: 9rem;
  padding: 0.45rem;
}

.action,
.option {
  min-width: 3rem;
  cursor: pointer;
  color: #9E9E9E;
  font-size: 0.8rem;
    transition: all 0.15s linear;
}

.action:hover,
.add:hover,
.remove:hover {
  color: #000000;
  border-color: #9E9E9E;
}

.option {
  margin: 0 0.5rem;
  border-color:  #26C6DA;
  color: #26C6DA;
  font-weight: bold;
  min-width: 6rem;
}

.option-input {
  padding: 0.4rem;
}

.add {
  margin: 0 0.5rem;
  border-color:  #9CCC65;
  color: #9CCC65;
  font-weight: bold;
  min-width: 6rem;
}

.remove {
  margin: 0 0.5rem;
  border-color:  #D32F2F;
  color: #D32F2F;
  font-weight: bold;
  min-width: 6rem;
}


#staged-cell {
  border-color: #E0E0E0;
}

#staged-cell i {
  font-size: 1.5rem;
  transition: all 0.15s linear;
}

#staged-cell button i {
  color: #9E9E9E;
  font-size: 0.8rem;
}

#staged-cell button:hover i {
  color: #000000;
  font-size: 0.8rem;
}

.no-cells {
  align-self: center;
  color: #E0E0E0;
}

.cell {
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.5rem;
  min-width: 12rem;
  box-shadow: none;
}

.cell-amount {
  margin-right: 0.25rem;
}


@media (max-width: 800px) {

  #cells {
    margin: 2rem;
  }

  #staged .module {
    padding: 1rem;
  }

  .cell-title {
    font-size: 0.8rem;
  }

  #staged {
    width: 20rem;
  }

  #all-cash {
    padding: 0 0 1.5rem 0;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  #all-expenses {
    padding: 1.5rem 0 0 0;
  }

}




