#cells {
  height: 100%;
  width: 100%;
  margin: 4rem;
}

#staged {
  width: 100%;
}

#all {
  height: 100%;
  width: 100%;
  justify-content: center;
}

.cell-title {
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 12rem;
  margin-right: 1.5rem;
}

.cell-title::placeholder {
  color: #9E9E9E;
}

.cash::placeholder,
.expenses::placeholder {
  color: #9E9E9E;
}

.cell-options {
  height: 0;
  overflow: hidden;
  justify-content: space-between;
    transition: all 0.15s linear;
}

.action,
.frequency {
  min-width: 3rem;
  cursor: pointer;
  color: #9E9E9E;
  font-size: 0.8rem;
    transition: all 0.15s linear;
}

.frequency {
  border-color:  #26C6DA;
  color: #26C6DA;
  font-weight: bold;
  min-width: 6rem;
}

.action:hover {
  color: #000000;
  border-color: #9E9E9E;
}

.add {
  width: 7rem;
}

.no-cells {
  font-size: 3rem;
  color: #E0E0E0;
}

.cell {
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.5rem;
  width: 15rem;
  box-shadow: none;
}

.cell i {
  margin-right: 0.5rem;
}