footer {
  /* height: 10vh; */
  width: 100%;
  /* background-color: #FFFFFF; */
  /* position: fixed; */
  /* bottom: 0; */
}

.footnote {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #9E9E9E;
  text-align: right;
}

.copyright {
  display: flex;
  padding: 1.5rem;
  /* height: 100%; */
  width: 100%;
  font-size: 0.85rem;
  border-top: 1px solid #E0E0E0;
  /* text-align: center; */
  justify-content: center;
  /* align-items: center; */
}
/*  */
.copyright a {
  padding: 0 0.2rem;
  color: #9E9E9E;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.copyright a:hover {
  color: #26C6DA ;
}