.cal {
  border-color: #26C6DA;
}

.cal i {
  color: #26C6DA;
}

.cash {
  border-color: #9CCC65;
}
.cash i {
  color: #9CCC65;
}

.expenses {
  border-color: #D32F2F;
}
.expenses i {
  color: #D32F2F;
}

.cash-hover:hover {
  border-color: #9CCC65;
  color: #9CCC65;
}

.expenses-hover:hover {
  border-color: #D32F2F;
  color: #D32F2F;
}

.right {
  margin-left: 1.5rem;
}

.left {
  margin-right: 1.5rem;
}