.bold {
  font-weight: bold;
}

.cal {
  border-color: #26C6DA;
}

.cal i,
.cal span {
  color: #26C6DA;
}

.cash {
  border-color: #9CCC65;
}
.cash i,
.cash span {
  color: #9CCC65;
}

.expenses {
  border-color: #D32F2F;
}
.expenses i,
.expenses span {
  color: #D32F2F;
}

.cash-hover:hover {
  border-color: #9CCC65;
  color: #9CCC65;
}

.expenses-hover:hover {
  border-color: #D32F2F;
  color: #D32F2F;
}

.right {
  margin-left: 1rem;
  margin-right: 0.5rem
}

.middle {
  margin: 0 0.5rem
}

.left {
  margin-right: 1rem;
  margin-left: 0.5rem;
}