.tickers {
  width: 100%;
  justify-content: space-evenly;
}

.tickers h1 {
  margin: 0;
}

.tickers
.module {
  cursor: pointer;
  flex-basis: 30%;
  border: none;
  box-shadow: none;
}

.ticker-value {
  padding-bottom: 1rem;
  font-size: 2.5rem; 
  text-align: center;
  font-weight: bold;
}

.ticker-lable {
  padding-top: 1rem;
  border-top: 1px solid;
  text-align: center;
  font-size: 2rem; 
}

.cal {
  border-color: #26C6DA;
}

.cal i {
  color: #26C6DA;
}


.cash {
  border-color: #9CCC65;
}
.cash i {
  color: #9CCC65;
}


.expenses {
  border-color: #D32F2F;
}
.expenses i {
  color: #D32F2F;
}