#tickers {
  width: 100%;
  justify-content: space-evenly;
}

#tickers h1 {
  margin: 0;
}

#tickers
.module {
  cursor: pointer;
  border: none;
  box-shadow: none;
}

#cal {
  flex-basis: 30%;
}

#cash,
#expenses {
  flex-basis: 25%;
}

.ticker-value {
  padding-bottom: 1rem;
  font-size: 2.5rem; 
  text-align: center;
  font-weight: bold;
}

.ticker-lable {
  padding-top: 1rem;
  border-top: 1px solid;
  text-align: center;
  font-size: 2rem; 
}